* {
  margin: 0;
  padding: 0;
  list-style: none;
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  text-decoration: none;
}

.container {
  max-width: 1480px;
  margin: 0 auto;
}

.header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header {
  position: fixed;
  top: 0%;
  left: 0;
  width: 100%;
  padding: 30px 0;
  background-color: #7fc78c;
  z-index: 99;
}

.logo {
  font-size: 32px;
  font-weight: bold;
  color: black;
}

.menu__list {
  display: flex;
  align-items: center;
}

.menu__item:not(:last-child) {
  margin-right: 20px;
}

.menu__link {
  color: black;
  font-size: 18px;
}

.hero {
  height: 100vh;
  background-color: #fff;
}

.hero__title {
  font-size: 46px;
  line-height: 50px;
  font-weight: 900;

  max-width: 50%;
  color: black;
}

.hero {
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero .container {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.hero__image {
  height: 355px;
  width: 440px;
}

.religions {
  display: flex;
  flex-direction: column;
}

.religions .container {
  display: flex;
  flex-direction: column;
  padding: 30px 0;
  text-align: center;
  align-items: center;
}

.religions__title {
  display: flex;
  align-items: center;
}

.religions__title::before {
  content: "";
  width: 150px;
  height: 150px;
  background-repeat: no-repeat;
  margin-right: 40px;
  transform: scale(1.2);
}

.bahay::before {
  background-image: url(../img/bahai.png);
}

.buddizm::before {
  background-image: url(../img/buddizm.png);
}

.islam::before {
  background-image: url(../img/islam.png);
}
.iudaizm::before {
  background-image: url(../img/iudaizm.png);
}
.okkultizm::before {
  background-image: url(../img/okultizm.png);
}
.sikhizm::before {
  background-image: url(../img/sikhizm.png);
}
.hrist::before {
  background-image: url(../img/hrist.png);
}
.satanizm::before {
  background-image: url(../img/satanizm.png);
}
